.on-click {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  background-color: aliceblue;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.users-generator {
  border-radius: 6px;
  width: 130px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #18a0fb;
  color: #fff;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
}

.btn {
  border-radius: 6px;
  width: 130px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.names {
  border-radius: 6px;
  width: 130px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-primary {
  background-color: #18a0fb;
  color: #fff;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #fff;
  color: #18a0fb;
  border: solid 1px #18a0fb;
}

input {
  width: 100px;
  height: 30px;
  padding: 5px;
  font-family: inherit;
  margin-top: 10px;
}

.create-user {
  width: 100px;
  height: 30px;
  margin-left: 10px;
}

.users {
  width: 90vw;
  height: 500px;
  background-color: khaki;
  border: 2px solid black;

}

.post {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-card {
  width: 100%;
  height: 20px;
  background-color: white;
  text-align: center;
}

span {
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.post-button {
  width: 130px;
  margin: 0 auto;
}